
.container {
	margin-top: 20px;
}

.mb20 {
	margin-bottom: 10px;
}

.mb40 {
	margin-bottom: 40px;
}

.mb50 {
	margin-bottom: 50px;
}

.name {
	font: bold 18pt sans-serif; 
}

.data-row div:first-child {
	text-align: left;
	vertical-align: middle;
}

.data-row div:nth-child(2) {
	text-align: center;
}

.data-row div:last-child {
	text-align: right;
}

.title {
	margin-top: 20px;
	margin-bottom: 10px;
	border-bottom: 1px solid rgb(238, 238, 238);
}

.subtitle {
	font-size: 12;
}