
#sortable-table {
    border-collapse: collapse;
    margin: 0 auto;
}

#sortable-table th {
	background: #E4E4E4;
	min-width: 145px;
	min-height: 20px;
	text-align: left;
	cursor: pointer;
}

td, th {
    padding: 2px 5px 2px 5px;
    margin: 0;
    border: 1px solid;
}

td[data-aggregate] {
	background: #E4E4E4;
}

.text-center {
	text-align: center;
}

/**
 * Classes used by TableUpgrade. Can be customized
 */
	.col-sorted-asc:after {
		content: '↓';
	}

	.col-sorted-desc:after {
		content: '↑';
	}

    /* Class marks sorted column */
	.sorted-col-data {}